.headingBox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 0;
}


h1{
    padding: 1rem;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: purple;
    color: yellow;
    display: inline-block;
    transition: background-color 800ms ease-in; 
}

h1:hover{
    background-color: azure;
    color: black;
    text-decoration: underline;
}